*{
	margin: 0;
	padding: 0;
}

body{
	padding-left: 200px;
	font-size: 14px;
	background-color: #f0f0f0;
}

/********************************************************/
/***********				main 			*************/
/********************************************************/


#home{
	padding-top: 10px;
        position: fixed;
        top:0;
        left: 200px;
        z-index: 1000000;
        background-color:#f0f0f0;
        width: 620px;
        
            
}

#home h1{
	display: inline-block;
}

.logo{
	width: 200px;
	vertical-align: middle;
}
#menu-deroulant,#menu-deroulant ul{
    padding:0;
    margin:0;
    list-style-type: none;
}
#menu-deroulant li{
    display:inline-block;
    position:relative;
    border-radius: 8px 8px 0 0;
}
#menu-deroulant ul li{
    display: inherit;
    border-radius: 0;
}
#menu-deroulant ul li:hover{
    border-radius: 0;
}
#menu-deroulant ul li:last-child{
    border-radius: 0 0 8px 8px;
}
#menu-deroulant a{
    text-decoration: none;
    display: block;
    color:#fff;
    padding: 8px 30px;
    font-family: arial;
    
}
#menu-deroulant ul{
    position:absolute;
    z-index: 1000;
    max-height: 0;
    left:0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-deroulant li:hover ul{
    max-height: 15em;
}

#menu-deroulant li:first-child{
	background-color: rgba(11,72,145,1);
}

#menu-deroulant li:nth-child(2){ 
	background-color: rgba(203,25,15,1);
}

#menu-deroulant li:nth-child(3) {
	background-color: rgba(0,184,242,1);
}

#menu-deroulant li:last-child {
	background-color: rgba(8,75,104,1);
}

#menu-deroulant li:first-child li{
	background-color: rgba(8,51,104,1);
}

#menu-deroulant li:nth-child(2) li{ 
	background-color: rgba(95,12,7,1);
}

#menu-deroulant li:nth-child(3) li{
	background-color: rgba(45,48,66,1);
}

#menu-deroulant li:last-child li{
	background-color: rgba(8,75,104,1);
}
#menu-deroulant ul li:hover,#menu-deroulant ul li a{
    color:#000;
    background: #eee;
}


#home nav li:first-child{
	background-color: rgba(11,42,145,1);
}

#home nav li:nth-child(2){
	background-color: rgba(203,25,15,1);
}

#home nav li:nth-child(3){
	background-color: rgba(0,184,242,1);
}

#home nav li:last-child{
	background-color: rgba(8,75,104,1);
}

#home nav a:link, #home nav a:active,
#home nav a:hover, #home nav a:visited{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

/********************************************************/
/***********				main 			*************/
/********************************************************/


main{
	background-color: #fff;
	width: 620px;
        position:relative;
        margin-top:155px;
}

.new-campaign{
	margin-bottom: 10px;
}

.new-campaign img{
	width: 620px;
}

.new-campaign figure{
	text-align: center;
}
.new-campaign figcaption{
	font-style: italic;
}
#new-camp-pub{
    position: absolute;
    top:0;
    right:0;
    background-color: rgba(220,220,220,0.6);
    height: 185px;
    width:130px;
    font-weight: bold;
    text-align: center;
    padding:5px;
    text-decoration: underline;
}
#current-nav{
	background-color: #888;
	border-radius: 8px;
}

/*****   Navigation   *****/

#current-nav,
#current-nav ul,
#current-nav li{
	display: inline-block;
	width: 100px;
	list-style: none;
	text-align: center;
}

#current-nav li{
	border-bottom: 1px solid #fff;
}

#current-nav a:link,#current-nav a:active,
#current-nav a:hover,#current-nav a:visited{
	display: block;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}

/*************       Articles       *************/

#articles{
	display: inline-block;
	width: 505px;
	margin-left: 10px;
        vertical-align: top;
        margin-bottom:10px
}

#articles header{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.5em;
        margin-bottom: 10px;
}
article{
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom: 1px solid #444;
	margin-bottom: 5px;
}

article:last-child{
	vertical-align: top;
	padding-bottom: 0px;
	border-bottom: 0px solid #444;
	margin-bottom: 0px;
}
#articles img{
	width: 80px;
        vertical-align: top;
}

#articles div{
	display: inline-block;
	width: 415px;
	padding-left: 5px;
}


/*.pub{
	background-color: rgba(255, 255, 255, 0.3);
	height: 100%;
	width: 25%;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
	text-decoration: underline;
}*/